/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.google.com/specimen/Manrope');
:root{

    --background-color:hsl(218, 23%, 16%)
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}
body{
    background-color: var(--background-color);

}
main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
app-root{
    position: relative;
    // background-color: hsl(217, 19%, 38%);
    min-width: 320px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: hsl(217, 19%, 24%);
    padding: 20px;
    margin: 0 12px;
    border-radius: 16px;
}

